<h1>Main Page</h1>

<div class="radio row">
<%= form_for(:player) do |f| %>
  <%= f.label :kingdom, "Kingdom", class: 'col' %>
  <%= f.text_field :kingdom, class: 'col' %>
  <%= f.label :kingdom, "Workouts", class: 'col' %>
  <%= f.text_field :kingdom, class: 'col' %>
  <%= f.label :kingdom, "Other", class: 'col'   %>
  <%= f.text_field :kingdom, class: 'col' %>
<% end %>
</div>