<h1>Subjects#show</h1>

<% if !flash[:notice].blank? %>
  <div class="alert alert-success">
    <%= flash[:notice] %>
  </div>
<% end %>

<%= link_to("<< Index Page", {:action => :index}) %> 
<table class="table show">
  <tr>
    <th>
    ID
    </th>
  </tr>
  <tr>
    <td>
    <%= @subject.id %>
    </td>
  </tr>
  <tr>
    <th>
	Name
    </th>
  </tr>
  <tr>
    <td>
    <%= @subject.name %>
    </td>
  </tr>
  <tr>
    <th>
    Position
    </th>
  </tr>
  <tr>
    <td>
    <%= @subject.position %>
    </td>
  </tr>
  <tr>
    <th>
    Visible
    </th>
  </tr>
  <tr>
    <td>
    <%= @subject.visible ? "True": "False" %>
    </td>
  </tr>
  <tr>
    <th>
    Created at
    </th>
  </tr>
  <tr>
    <td>
    <%= @subject.created_at %>
    </td>
  </tr>
  <tr>
    <th>
    Updated at
    </th>
  </tr>
  <tr>
    <td>
    <%= @subject.updated_at %>
    </td>
  </tr>
  <% @subject.pages.each do |page| %>
  <tr>
    <th>
    Page ID
    </th>
  </tr>
  <tr>
    <td>
    <%= page.id %>
    </td>
  </tr>
  <tr>
    <th>
    Page Name
    </th>
  </tr>
  <tr>
    <td>
    <%= page.name %>
    </td>
  </tr>
  <% end %>
</table>